@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    width: 100vw;
    height: 100vh;
}

:root {
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'Times New Roman', Times, serif;
    --font2: 'Pacifico', cursive;
}

::-webkit-scrollbar {
    display: none;
}

header {
    padding: 5px;
    background: #000079d3;
    box-shadow: 0px 2px 5px #00003380;
    color: #ffffffd0;
    margin-bottom: 10px;
    font-family: var(--font0);
}
header h1 {
    text-align: center;
    font-size: 7vw;
    font-family: var(--font2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
}
header p {
    font-size: 1.1em;
    font-family: var(--font2);
    text-align: center;
    color: #ffffff71;
}

menu a {
    padding: 5px;
    padding-bottom: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    
    text-align: left;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    
}
a:hover {
    display: inline-block;
    background: #ffffff27;
    margin-bottom: 10px;
    
    border: 1px solid #00000080;
    border-radius: 5px;
    transition: 0.4s;
    transform: translate(0px, -3px);
    box-shadow: 2px 2px 4px #00000036;
}

h2 {
    padding: 5px 0px 5px 10px;
    font-size: 1.7em;
    color: #000077d3;
    background-image: linear-gradient(to right, #00007960, #ffffffe3 50%);
}

div#D {
    width: 100vw;
    height: 30vh;
    background: transparent url(../imagens/123d.jpg) center center no-repeat scroll;
    background-size: contain;
    
}
div#paradoxo1 {
    padding-top: 1px;
    width: 100vw;
    height: 300px;
    background: transparent url('../imagens/brinco_perola.png') no-repeat fixed;
    background-size: contain;
    background-position: center center;
}
div#paradoxo1 p {
    width: 300px;
    margin: 20px 10px 10px 10px ;
    padding: 20px;
    background: #ffffff3d;
    color: #000079;

    font-family: var(--font0);
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

div#paradoxo2 {
    width: 100vw;
    height: 300px;
    padding-top: 1px;
    background: transparent url('../imagens/ceu_estrelado.jpg') center center no-repeat fixed;
    background-size: contain;
}
div#paradoxo2 p {
    width: 250px;
    margin: 20px 10px 10px 10px;
    padding: 20px;
    background: #00000067;
    color: #f0f0ff;
}

p {
    margin: 10px;
    padding: 10px;
    font-family: var(--font0);
    font-size: 1.1em;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
}

img {
    width: 100vw;
    height: 300px;
}

div#p1t {
    width: 100vw;
    height: 300px;
    padding-top: 1px;
    background: transparent url('../imagens/exercito_terracota.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div#p1t p {
    width: 265px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.384);
    color: #ffffff;
}

div#p2t {
    padding-top: 1px;
    width: 100vw;
    height: 300px;
    background: transparent url('../imagens/estatua_liberdade.jpg') fixed center center no-repeat;
    background-size: cover;
}
div#p2t p {
    width: 300px;
    padding: 20px;
    background: #00000059;
    color: #ffffff;
}

footer {
    padding: 25px;
    font-family: var(--font2);
    font-size: 1.2em;
    text-align: center;
    background-image: linear-gradient(to bottom, #000079a9 10%, #00007933);
}
footer p {
    text-align: center;
}

footer a {
    padding: 7px;
    color: #ffffff;
}
ol {
    font-size: 1.2em;
    padding: 25px;
}